<%- include('header') -%> 

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ad sequi perspiciatis, saepe distinctio sint, consectetur dolor autem aperiam ratione explicabo pariatur tempora nostrum magni delectus? Perferendis incidunt ipsa molestias.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae fugiat ex alias maxime sed sunt, aperiam deleniti dolores quibusdam enim autem quam vel tenetur, voluptas commodi aliquam error. Aspernatur, fugit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, officiis nemo veritatis voluptas voluptatibus enim vero modi totam at quam tempore aspernatur nostrum laboriosam temporibus molestiae natus reprehenderit mollitia fugit!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur rem iste neque omnis, possimus cum mollitia voluptatum atque, ab facere autem, quas incidunt temporibus doloribus ea vero inventore totam asperiores.
</p>


<%- include('footer') -%> 
