
<%- include('header') -%> 

<body>

    <div class="box" id='heading'> 
    <h1>  <%=listTitle%> </h1>
</div>

<div class="box"> 

    <% for (i in newItem) {  %> 

        <div class="item">
            <input type="checkBox">
        <p> <%=newItem[i]%> </p>
    </div>
   <% } %>  
   

   <form class="item" action="/" method="post">
    <input type="text" name='newItem' placeholder="add new item" autocomplete="off">
    <button name="button" type="submit">+</button>
</form>


</div>



<%- include('footer') -%> 
